header {
    background: #3f5974;
    box-shadow: 5px 5px 20px #333333;
    height: 70px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 1;
}

app-movie-details {
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(100vw);
    transition: transform 1s;
}

app-movie-details.active {
    transform: translateX(0);
}

app-movie-list {
    display: block;
    margin: 0 auto;
    transform: translateX(-100vw);
    transition: transform 1s;
}

app-movie-list.active {
    transform: translateX(0);
}

.search {
    cursor: pointer;
    fill: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 16px;
    right: 16px;
    width: 48px;
    height: 48px;
}
