.movie {
    border: 4px solid transparent;
    cursor: pointer;
    padding: 1em;
    user-select: none;
}

.movie h2 {
    overflow: hidden;
    max-width: 300px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.movie .overview {
    margin: 0 auto;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.poster {
    text-align: center;
}
.poster img {
    box-shadow: 10px 10px 30px #111111;
}

app-movie-details {
    position: fixed;
    left: 0;
    top: 64px;
    transform: translateX(100vw);
    transition: transform ease-in-out 0.5s;
}
app-movie-details.active {
    transform: translateX(0);
}

.movie-container {
    margin: 0 auto;
    opacity: 0;
    padding-top: 85px;
    transform: translateX(-100vw);
    transition: opacity ease-in-out 0.25s, transform ease-in-out 0.5s;
}
.movie-container.active {
    opacity: 1;
    transform: translateX(0);
}
